[Unit]
Description=Instance for a app-tier (Project 2 Part 2)
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/cse-546-project2/app-tier
ExecStart=/home/ec2-user/cse-546-project2/app-tier/start-app-tier.sh
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target