[Unit]
Description=Python script to scale ec2 instances for Project 2 Part 2
After=web-tier.service
Requires=web-tier.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/cse-546-project2/web-tier
ExecStart=/home/ubuntu/cse-546-project2/web-tier/start-scaler.sh
Restart=always

[Install]
WantedBy=multi-user.target
