[Unit]
Description=Gunicorn instance for a web-tier (Project 2 Part 2)
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/cse-546-project2/web-tier
ExecStart=/home/ubuntu/cse-546-project2/web-tier/start-web-tier.sh
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target